<!-- recurring-deposit-calculator.component.html -->
<div>
    <h2>Recurring Deposit Calculator</h2>
    <form (ngSubmit)="calculate()">
      <div>
        <label>Monthly Deposit:</label>
        <input type="number" [(ngModel)]="rd.regularMonthlyDepositAmount" name="monthlyDeposit" required>
      </div>
      <div>
        <label>Tenure (Years):</label>
        <input type="number" [(ngModel)]="rd.tenureYears" name="tenureYears" required>
      </div>
      <div>
        <label>Interest Rate (%):</label>
        <input type="number" [(ngModel)]="rd.rate" name="rate" required>
      </div>
      <div>
        <label for="rdCreationDate">RD Creation Date:</label>
        <input type="date" [(ngModel)]="startDate" name="rdCreationDate"
        (change)="onDateChange($event)" disabled >
  
      </div>
      <button type="submit">Calculate</button>
    </form>
  
    <div *ngIf="rd.totalAmountInvested !== undefined">
      <h3>Results</h3>
      <p>Total Amount Invested: {{ rd.totalAmountInvested | currency:'INR' }}</p>
      <p>Total Interest Earned: {{ rd.interestAmount | currency:'INR' }}</p>
      <p>Maturity Amount: {{ rd.maturityAmount | currency:'INR' }}</p>
      <p>RD Creation date: {{ startDate | date }} </p>
      <p>Maturity Date: {{ rd.endDate | date }}</p>
      
    </div>

    <button type="submit" (click)="submitRD()" >Invest Now</button>
  </div>
  