<!-- <app-login></app-login>
<div class="container">
  <div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <form (submit)="loginWithCredentials(username.value,password.value)">
        <div class="p-field">
          <label for="username">Username</label>
          <input #username id="username" type="text" pInputText placeholder="Enter UserName">
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input #password id="password" type="password" pInputText placeholder="Enter Password">
        </div>
        <button type="submit" pButton>Login</button>
      </form>
    </div>
  </div> -->

  <app-displayoptions></app-displayoptions>