

        <div class="banner1">

            <div class="signup">

            <form >

                <h1>Sign Up</h1>

                <label for="username">Name</label>

                <input type="text" id="Signupusername" placeholder="Enter Your Name">

                <label for="email">Email Address</label>

                <input type="email" id="email" placeholder="Enter Your Email">

                <label for="password">Phone Number</label>

                <input type="tel" id="phn" placeholder="Enter Your Phone Number">

                <label for="password">Create Password</label>

                <input type="password" name="password" id="Signuppassword" placeholder="Enter Password">

                <input type="submit" value="Sign Up">

               </form>

        </div> 

        </div>


