<form >
    <label for="username">Name</label>
     
                    <input type="text" id="Signupusername" placeholder="Enter Your Name" required>
     
                    <label for="email">Email Address</label>
     
                    <input type="email" id="email" placeholder="Enter Your Email" required>
     
                    <label for="password">Phone Number</label>
     
                    <input type="tel" id="phn" minlength="4" maxlength="12" placeholder="Enter Your Phone Number" required>
     
                    <label for="password">Create Password</label>
     
                    <input type="password" name="password" id="Signuppassword" placeholder="Enter Password" required>
     
                    <input type="submit" value="Sign Up">
     
                   </form>