<p>gold works!</p>

<div>
    <form>
        <div>
            <label>Principle Amount</label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Interest percentage</label>

            </div>

       <div class="form-group col-md-6">
        <div >
        Select Duration
        </div>
        <div >
        <select id="timeline" name="timeline">
        <option value="">- Select Duration -</option>
     
        <option value="1Y">1 Year </option>
        <option value="2Y">2 Years</option>
        <option value="3Y">3 Years</option>
        <option value="4Y">4 Years</option>
        <option value="5Y">5 Years</option>
        
        </select>
        </div></div>
        <button onclick="buy()" type="submit" class="btn btn-primary">Save Details</button>

        
        </div>

    
        </form>


