<br>
<br>

<div> 
    
    <form>
        <div class="form-group col-md-6">
            <label>Principle Amount</label>
            <input type="number" [(ngModel)]="gold.principle" name="principle">
        </div>
        <div class="form-group col-md-6">
            <label>Today Gold Rate</label>
            <input type="number" [(ngModel)]="gold.todaygoldrate" name="todaygoldrate" disabled>
        </div>
        <div class="form-group col-md-6">
            <label>Interest</label>
            <input type="number" [(ngModel)]="gold.interest" name="interest" disabled>
        </div>
        
        <!-- <div>
            <label for="golCreationDate">Gold Creation Date:</label>
            <input type="date" [(ngModel)]="goldCreationDate" name="goldCreationDate"
            (change)="onDateChange($event)" disabled >
      
          </div> -->

       <div class="form-group col-md-6">
        <label for="duration"> Select Duration </label>
       
        <select [(ngModel)]="gold.years" name="years" required>
     
        <option value="1">1 Year </option>
        <option value="2">2 Years</option>
        <option value="3">3 Years</option>
        <option value="4">4 Years</option>
        <option value="5">5 Years</option>
        
        </select>
        </div>

        <button (click)="calculate()" type="submit" class="btn btn-primary">Calculate</button>

        
       
    </form>
        <div>
            <div *ngIf="gold.principle!== undefined">
                <h3><b>Returns - </b></h3>
                <p>Total Amount Invested: {{ gold.principle * 12 * gold.years }}</p>
                <p>Total Interest Earned: {{ gold.amount }}</p>
                <p>Profit: {{ gold.profit }}</p>
                <p>Total Gold Purchased: {{ gold.goldpurchased }}</p>
                </div>
        </div>
        <button type="submit" (click)="SaveGold()">Invest Now</button> 

    </div> 

