<p>gold works!</p>

<div>
    <form>
        <div class="form-group col-md-6">
            <label>Principle Amount</label>
            <input type="number" id="principle" [(ngModel)]="gold.principle" name="principle">
        </div>
       

       <div class="form-group col-md-6">
        <label> Select Duration </label>
       
        <select id="timeline" name="timeline" [(ngModel)]="gold.years">
        <option value="">- Select Duration -</option>
     
        <option value="1">1 Year </option>
        <option value="2">2 Years</option>
        <option value="3">3 Years</option>
        <option value="4">4 Years</option>
        <option value="5">5 Years</option>
        
        </select>
        </div>

        <button (click)="calculate()" type="submit" class="btn btn-primary">Calculate</button>

        
       
    </form>
        <div>
            <div *ngIf="gold.principle!== undefined">
                <h3>Results</h3>
                <p>Total Amount Invested: {{ gold.principle | currency:'INR' }}</p>
                <p>Total Interest Earned: {{ gold.amount | currency:'INR' }}</p>
                <p>Profit: {{ gold.profit | currency:'INR' }}</p>
                <p>Total Gold Purchased: {{ gold.goldpurchased }}</p>
                </div>
        </div>
        

    </div>


