<p>floating-rate-bond works!</p>
<div>
    <h2>SovereignGoldBonds Calculator</h2>
    <form >
      <div>
        <label for="initialRate">Initial Rate:</label>
        <input type="number" [(ngModel)]="frb.initialRate" name="initial Rate" >
      </div>
      <div>
        <label for="finalRate"> Final rate:</label>
        <input type="number" [(ngModel)]="frb.finalRate" name="final rate" >
      </div>
      <div>
        <label for="spread">Spread</label>
        <input type="number" [(ngModel)]="frb.spread" name="Spread">
      </div>
      <div>
          <label for="principle">Principle</label>
          <input type="number" [(ngModel)]="frb.principle" name="Principle">
     </div>
     <div>
        <label for="n">Years</label>
        <input type="number" [(ngModel)]="frb.n" name="Year">
    </div>
    <div>
        <label for="interestAmount">Interest amount</label>
        <input type="number" [(ngModel)]="frb.interestAmount" name="interest amount">
    </div>
    <div>
        <label for="finalReturns">Final returns</label>
        <input type="number" [(ngModel)]="frb.finalReturns" name="Final returns">
    </div>
      <button type="submit">Calculate</button>
    </form>
  
    <div *ngIf="frb.finalReturns">
      <h3>Results</h3>
     
      <p>Total Interest : {{ frb.interestAmount | currency: 'INR' }}</p>
      <p>Maturity Value : {{ frb.finalReturns  | currency: 'INR' }}</p>
       
  </div>
  
  